#navbar{
	width: 100%;
    margin-left: auto; 
    margin-right: auto;

    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#navbar a{
	vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

body {  
	background: black;
    font: 14px/1.5 helvetica-neue, helvetica, arial, san-serif;  
    padding:10px;  
	color: #BDBDBD;
	overflow:hidden;
}  
  
h1 {  
    margin-top:0;  
}  
  
#main {  
    width: 1280px; 
	height: 600px;
    margin-top:50px;  
    background: black;  
    padding: 20px;  
}  
  
#image{  
	float:left;
	clear:left;
    list-style:none;  
    margin:auto;  
    padding:0; 
	width: 350px;
	height: 400px;
}  
  
#image img {  
    max-width: 100%;  
	max-height: 100%;
    vertical-align: middle;  
} 

#response{
	float:left;
	clear:left;
}

#response a{
	color: white;
}

#right{
	margin-top: 45px;
	margin-right: 180px;
	width:300px;
	float:right;
	clear:right;
} 

#right .input{
	font-style: none;
}

.left{
	font-style: none;
}

#button{
	float:left;
	clear:both;
	margin-top: 15px;
	width: 100px;
	height: 35px;
	font-size: 16pt;
}

#title {
	width: 200px;
	margin-bottom: 10px;
}

strong{
	font-size: 18pt;
}

#title{
	margin-top: 7px;
}

.input{
	float: right;
	clear:right;
	width:180px;
}

.left{
	width: 275px;
	float: left;
	clear:left;
	font-size: 12pt;
	color: white;
}

.right{
	width: 100%;
	margin: 5px;
	clear: right;
	float:right;
}

.gray{
	color: #888888;
	font-style: italic;
}