#response{
	overflow: auto;
}

#response img{
	width: 300px;
	margin: 20px;
}

body {  
	background: black;
    font: 14px/1.5 helvetica-neue, helvetica, arial, san-serif;  
    padding:10px;  
	color: #BDBDBD;
	overflow-y:auto;
	overflow-x:hidden;
}  
  
h1 {  
    margin-top:0;  
}  
  
#main {  
    width: 100%; 
	height: 600px;
    margin-top:50px;  
    background: black;  
    padding: 20px;  
}  
  
#image{  
	float:left;
	clear:left;
    list-style:none;  
    margin:auto;  
    padding:0; 
	width: 350px;  
	height: 400px;
    vertical-align: middle;
}  

#image  img{
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.photo{
	width: 200px;  
	height: 250px;
	border: 1pt white;
	float:left;
	margin: 20px;
}

.image{
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.gray{
	color: #888888;
	font-style: italic;
}

#result{
	width: 100%;
	height: 400px;
}

#response{
	float:left;
	clear:left;
	max-width: 100%;
	overflow-x: hidden;
}

#response a{
	color: white;
}

#right{
	margin-top: 45px;
	margin-right: 480px;
	width:260px;
	float:right;
	clear:right;
	color: white;
} 

#right .input{
	font-style: none;
}

.left{
	font-style: none;
}

#button{
	float:left;
	clear:both;
	margin-top: 15px;
	width: 100px;
	height: 35px;
	font-size: 16pt;
}

#title {
	width: 200px;
	margin-bottom: 10px;
}

strong{
	font-size: 18pt;
}

#title{
	margin-top: 7px;
}

.input{
	float: right;
	clear:right;
	width:180px;
	
}

.left{
	width: 325px;
	float: left;
	clear:left;
	font-size: 12pt;
	color: white;
}

.right{
	width: 100%;
	margin: 5px;
	clear: right;
	float:right;
	color: white;
}

#edit{
	color: white;
	float: left;
	clear: left;
	font-style: underline;
}

a {
    outline: 0;
    text-decoration: underline;
	font-size: 10pt;
}

a:link {
    color: #0099FF;
}

a:visited {
    color: #0099FF;
}

a:hover {
    color: #FFFF00;
}

a:active {
    color: #33FF66;
}