#navbar{
	width: 100%;
    margin-left: auto; 
    margin-right: auto;

    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#navbar a{
	vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

body {  
	background: black;
    font: 14px/1.5 helvetica-neue, helvetica, arial, san-serif;  
    padding:10px;  
	color: #BDBDBD;
	overflow:hidden;
}  
  
h1 {  
    margin-top:0;  
}  
  
#main {  
    width: 1280px; 
	height: 600px;
    margin-top:50px;  
    background: black;  
    padding: 20px;  
}  
  
#image{  
	float:left;
	clear:left;
    list-style:none;  
    margin:auto;  
    padding:0; 
	width: 350px;
	height: 400px;
}  
  
#image img {  
    max-width: 100%;  
	max-height: 100%;
    vertical-align: middle;  
} 

#response{
	float:left;
	clear:left;
}

#response a{
	color: white;
}

#right{
	margin-top: 45px;
	margin-right: 180px;
	width:300px;
	float:right;
	clear:right;
} 

#right .input{
	font-style: none;
}

.left{
	font-style: none;
}



#title {
	width: 200px;
	margin-bottom: 10px;
}

strong{
	font-size: 18pt;
}

#title{
	margin-top: 7px;
}


.input{
	float: right;
	clear:right;
	width:180px;
}

.left{
	width: 275px;
	float: left;
	clear:left;
	font-size: 12pt;
	color: white;
}

.right{
	width: 100%;
	margin: 5px;
	clear: right;
	float:right;
}

.gray{
	color: #888888;
	font-style: italic;
}

.delete {
	-moz-box-shadow:inset -1px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset -1px 1px 0px 0px #f29c93;
	box-shadow:inset -1px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:2px 0px 0px #b23e35;
	float: left;
	clear: left;
}.delete:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}.delete:active {
	position:relative;
	top:1px;
}

.upload {
	-moz-box-shadow:inset -1px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset -1px 1px 0px 0px #caefab;
	box-shadow:inset -1px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:8px 25px;
	text-decoration:none;
	text-shadow:0px 0px 0px #aade7c;
	float:left;
	clear:both;
	margin-top: 15px;
}.upload:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}.upload:active {
	position:relative;
	top:1px;
}